[project]
name = "zhipu-search"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "dotenv>=0.9.9",
    "zai-sdk>=0.0.4.2",
]
